[submodule "EMBC_Assign_1"]
	path = EMBC_Assign_1
	url = https://github.com/Jeedella/EMBC_Assign_1.git
[submodule "EMBC_UART_pipe"]
	path = EMBC_UART_pipe
	url = https://github.com/Jeedella/EMBC_UART_pipe.git
[submodule "EMBC_miniproj_template"]
	path = EMBC_miniproj_template
	url = https://github.com/Jeedella/EMBC_miniproj_template.git
